<!DOCTYPE html>
<html>
<head>
    <title>Portable Greenhouse System</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add some basic styles -->
    <style>
        table {
            margin: 20px 0;
            font-size: 16px;
        }
        button {
            margin: 20px 0;
        }
        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-5">Portable Greenhouse System</h1>

        <!-- Your code for warning alerts here -->
        {% if weather %}
			<div class="alert alert-warning">{{ weather }}</div>
		{% endif %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Overview</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="/">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/plot1">Plot 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/plot2">Plot 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/plot3">Plot 3</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Data Visualization
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/LightDataVisualization">Light</a>
                      <a class="dropdown-item" href="/WaterDataVisualization">Water</a>
                      <a class="dropdown-item" href="/TempDataVisualization">Temperature</a>
                    </div>
                </li>
              </ul>
            </div>
        </nav>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>Plot ID</th>
                <th>Light Status</th>
                <th>Current Threshold</th>
                <th>Light Activated for (hours)</th>
				<th>Soil Moisture (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="plot1_id"></td>
                <td id="plot1_light_status"></td>
                <td id="plot1_threshold"></td>
                <td id="plot1_light_hours"></td>
				<td id="plot1_moisture"></td>
              </tr>
              <tr>
                <td id="plot2_id"></td>
                <td id="plot2_light_status"></td>
                <td id="plot2_threshold"></td>
                <td id="plot2_light_hours"></td>
				<td id="plot2_moisture"></td>
              </tr>
              <tr>
                <td id="plot3_id"></td>
                <td id="plot3_light_status"></td>
                <td id="plot3_threshold"></td>
                <td id="plot3_light_hours"></td>
				<td id="plot3_moisture"></td>
              </tr>
            </tbody>
        </table>
          
        <button type="button" class="btn btn-primary" onclick="updateTable()" id="check-btn">Check</button>
    </div>

    <script>
       function updateTable() {
    $.ajax({
        url: "/get_status",
        type: "GET",
        success: function(data) {
            data = data.split(',');

            // Hardcoded plot IDs
            var plot1ID = "Plot 1";
            var plot2ID = "Plot 2";
            var plot3ID = "Plot 3";

			var moisture1 = ((data[11] - 1024) / -1024 * 100).toFixed(2);
            var moisture2 = ((data[12] - 1024) / -1024 * 100).toFixed(2);
            var moisture3 = ((data[13] - 1024) / -1024 * 100).toFixed(2);


            document.getElementById('plot1_id').textContent = plot1ID;
			document.getElementById('plot1_light_status').textContent = data[0] === "1" ? "On" : "Off";
            document.getElementById('plot1_threshold').textContent = data[1];
            document.getElementById('plot1_light_hours').textContent = data[8];
			document.getElementById('plot1_moisture').textContent = moisture1;

            document.getElementById('plot2_id').textContent = plot2ID;
            document.getElementById('plot2_light_status').textContent = data[2]=== "1" ? "On" : "Off";
            document.getElementById('plot2_threshold').textContent = data[3];
			document.getElementById('plot2_light_hours').textContent = data[9];
			document.getElementById('plot2_moisture').textContent = moisture2;

            document.getElementById('plot3_id').textContent = plot3ID;
            document.getElementById('plot3_light_status').textContent = data[4]=== "1" ? "On" : "Off";
            document.getElementById('plot3_threshold').textContent = data[5];
            document.getElementById('plot3_light_hours').textContent = data[10];
			document.getElementById('plot3_moisture').textContent = moisture3;

        },
        error: function() {
            console.log('Error occurred while fetching data.');
        }
    });
}
    </script>
</body>
</html>
